img{
	width: 30%;
	float: left;
	margin:1.66%;
	padding-top: 1px;


}
h1{
	font-family: 'Raleway', sans-serif;
	border-bottom: 5px #f1f1f1 solid;
	width: 32%;
	padding-bottom: 20px;

}

	


