<% include partials/header %>
<h1>you fell in love with:
    <%= thingVar.toUpperCase() %>
</h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
<p>GOOD CHOICE! RUSTY IS BEST!</p>
<% } else { %>
<p>bad choice</p>
<% } %>
<p>P.S this is the love.ejs file</p>
<% include partials/footer %>